<!-- Logo -->
<header class="main-header">
   <a ui-sref="home.dashboard" class="logo">
   <span class="logo-mini"><b>S</b>EVA</span>
   <span class="logo-lg"><b>AIM</b>SEVA</span>
   </a>
   <nav class="navbar navbar-static-top" >
   <a data-toggle="offcanvas">
   </a>
   <div class="navbar-custom-menu">
      <div class="pull-right">
         <div class="dropdown user user-menu" dropdown>
            <a  class="dropdown-toggle" dropdown-toggle>
               <div class="icon-bar"  ng-click="main.logout();"><i class="fa fa-sign-out"  ></i>
            </a>
            </div>
         </div>
      </div>
   </div>
   <div class="topnav-right">
   </div>
   <div class="icon-bar">
      <a ui-sref="home.dashboard" ui-sref-opts="{location:false}">  <i class="fa fa-home"></i></a>
   </div>
   </div>
</header>