<!--Project Name :AIM for Seva
Filename : Building Donation.html*
Purpose /Functionality: A html file to display all the data to the user based on Building Donation
Author : Deekshitha(id:T0002) -->

<input type="hidden"  name="role" ng-value="roleName"  ng-init='regData.role=roleName' ng-model="regData.roleName">
<ol class="breadcrumb">
   <li>
      <a ui-sref="home.dashboard">{{activeUrl[1]}}</a>
   </li>
   <li>
      <a ui-sref="home.BuildingDonor">{{activeUrl[2]}}</a>
   </li>
</ol>

<!-- Main content -->
<section class="content" >
   <div class="form-group" ng-form name="form">
      <div class="row">
         <div class="col-md-11">
            <div class="box">
               <div class="box box-primary">
                  <div class="box-header">
                     <div class="bg-navy-active color-palette">
                        <br>
                        <h3 class="box-title">&nbsp;&nbsp;Building Donor</h3>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="col-md-7  inputGroupContainer">
                              <input name="code" ng-value="(receiptNo.receipt_no)"  allow-pattern="^[0-9,A-Z]+" placeholder="code" class="form-control"  type="text" ng-init="regData.receipt_no=(receiptNo.receipt_no)" ng-model="regData.receipt_no" disabled="">
                           </div>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-6" >
                           <label class="col-md-4 control-label">Donor ID</label>
                           <div class="col-md-7  inputGroupContainer">
                              <div class="input-group">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                 <select ng-options="x.donor_code for x in allDMaster" name="regData.donor_id" class="form-control" ng-model="regData.selitem1" ng-change="getselectedval()">
                                    <option value="">--Select--</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <input type="hidden" name="donor_code" ng-value="donor_code" ng-model="regData.donor_code">
                        <div class="col-md-6" >
                           <label class="col-md-4 control-label">Organization Name</label>
                           <div class="col-md-7 inputGroupContainer">
                              <div class="input-group"> <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                                 <input name="organization_name" id="organization_name" ng-value="organization_name" placeholder="Organization Name" class="form-control" type="text"  ng-model="regData.organization_name" ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/" disabled="" >
                              </div>
                           </div>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-6 ">
                           <label class="col-md-4 control-label">Date</label>
                           <div class="col-md-7 inputGroupContainer">
                              <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                 <input  name="date" ng-value="Current_Date"    placeholder="Donation Date" class="form-control"   type="text"   ng-model="regData.Current_Date" disabled="" >
                              </div>
                           </div>
                        </div>
                     </div>
                     <br>
                     <button class="accordion">Personal Information</button>
                     <div class="panel">
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">First Name</label>
                              <div class="col-md-7 inputGroupContainer">
                                 <div class="input-group"> 
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="first_name" placeholder="First Name" id="first_name" class="form-control" type="text" ng-value="first_name" ng-model="regData.first_name" ng-model="inputname" disabled=""> 
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Last Name</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="last_name" id="last_name" placeholder="Last Name" class="form-control"   type="text"  ng-value="last_name"  ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/" disabled="" >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <input type="hidden" name="" ng-value="last_name">
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">Mobile No.</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="mobile_no" id="mobile_no" placeholder="Mobile No." ng-value="mobile_no" class="form-control"  type="text" ng-model="regData.mobile_no" disabled="" >
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--dropdown -->
                     <button class="accordion">Address</button>
                     <div class="panel">
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Address1</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="address1" ng-value="address1" id="address1" placeholder="Address1" class="form-control"   type="text"   ng-model="regData.address1" ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/" disabled=""  >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">Address 2</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="address2" placeholder="Address2" id="address2" ng-value="address2" class="form-control" type="text" ng-model="regData.address2" disabled="" >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">Address 3</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="address3" placeholder="Address3" id="address3" ng-value="address3" class="form-control" type="text" ng-model="regData.address3" disabled="" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 ">
                              <label class="col-md-4 control-label" >Country Name</label>
                              <div class="col-md-7 inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                       <li class="glyphicon glyphicon-flag"></li>
                                    </span>
                                    <input type="text" name="country" id="country" class="form-control" placeholder="Country Name" ng-value="country" ng-model="regData.country" disabled="" >
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" name="country_code" ng-value="country_code" ng-model="regData.country_code">
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6 ">
                              <label class="col-md-4 control-label" >State Name</label>
                              <div class="col-md-7 inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                       <li class="glyphicon glyphicon-flag"></li>
                                    </span>
                                    <input type="text" name="state" id="state" ng-value="state"   ng-model="regData.state" class="form-control" placeholder="State Name" disabled="" >
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" name="state_code" ng-value="state_code" ng-model="regData.state_code">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">City</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="city" placeholder="City" id="city" ng-value="city"   class="form-control" type="text" ng-model="regData.city" disabled="" >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">Postal Code</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="postal_code" placeholder="Postal Code" id="postal_code"  ng-value="postal_code" class="form-control" type="text" disabled="" >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                     </div>
                     <!--drop down -->
                     <button class="accordion">Campaign Details</button>
                     <div class="panel">
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Campaign </label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <select ng-options="c.campaign_name for c in campaignName"  name="regData.campaign_id" class="form-control" ng-model="regData.selitemcampaign" ng-change="getSelectcampaignName()">
                                       <option value="">--Select--</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" ng-value="campaign_id" ng-model="regData.campaign_id" >
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Project </label>
                              <div class="col-md-7 inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <select ng-options="p.project_name for p in projectName" name="regData.project_id" class="form-control" ng-model="regData.selitemproject" ng-change="getSelectprojectName()">
                                       <option value="">--Select--</option>
                                    </select>
                                 </div>
                              </div>
                              <input type="text" ng-value="project_id" ng-model="regData.project_id" >
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label" >Project Category</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <select ng-options="s.project_category for s in allProjectMain"  class="form-control" ng-model="regData.selitemProject" ng-change="getSelectProject()">
                                       <option value="">--Select--</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" ng-value="project_category_id" ng-model="regData.project_category_id">
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Maintenace Type</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <select ng-options="s.maintenance_type for s in maintenance"  class="form-control" ng-model="regData.selitemMaintenance" ng-change="getSelectMaintenanceId()">
                                       <option value="">--Select--</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Maintenace  sub Type</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <select ng-options="a.sub_type for a in maintenanceSubType"
                                       name="regData.sub_type_id" class="form-control" ng-change="getSelectMaintenanceSubId()"
                                       ng-model="regData.selitemSub">
                                       <option value ="">--select--</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" ng-value="sub_type_id" ng-model="regData.sub_type_id"  >
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Notes</label>
                              <div class="col-md-7 inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input name="notes" placeholder="Notes" class="form-control" type="text" ng-model="regData.notes" notes="6" required="">
                                 </div>
                                 <span style="color:red;" ng-show="form.notes.$touched && form.notes.$invalid" >*The notes is required.</span>
                                 <div  style="color:red;" ng-show="regData.notes.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                        </div>
                        <br> 
                     </div>
                     <!--dropdown -->
                     <button class="accordion">Payment Details</button>
                     <div class="panel">
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Payment Mode </label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <select ng-options="m.payment_mode for m in paymentName"  name="regData.payment_id" class="form-control" ng-model="regData.selitempayment" ng-change="getpaymentName()">
                                       <option value="">--Select--</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <input type="hidden" ng-value="payment_id" ng-model="regData.payment_id" >
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Amount(RS)</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="amount" placeholder="Amount"  class="form-control"   type="text" ng-model="regData.amount"   ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">Bank/Branch Name</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="bank" placeholder="Bank/Branch Name" class="form-control" type="text" ng-model="regData.bank">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Cheque No</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="cheque_no" placeholder="Cheque No" class="form-control"   type="text" ng-model="regData.cheque_no"  >
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label" >Cheque Date</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                       <li class="glyphicon glyphicon-flag"></li>
                                    </span>
                                    <input name="cheque_date"  class="form-control"  type="date" ng-model="regData.cheque_date">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <br>
                     </div>
                     <!--drop down -->
                     <button class="accordion">Building Details</button>
                     <div class="panel">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="col-md-4">
                                 <legend>Space</legend>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Full Building</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="fullbuilding" placeholder="Full Building" class="form-control"   type="text" ng-model="regData.full_building"  ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/" full-building="6" required="">
                                 </div>
                                 <span style="color:red;" ng-show="form.fullbuilding.$touched && form.fullbuilding.$invalid" >enter the value</span>
                                 <div  style="color:red;" ng-show="regData.full_building.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Location</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="location" placeholder="Location" class="form-control"   type="text" ng-model="regData.location" location="6"  ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  required="">
                                 </div>
                                 <span style="color:red;" ng-show="form.location.$touched && form.location.$invalid" >enter the location name</span>
                                 <div  style="color:red;" ng-show="regData.location.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Ground Floor</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="groundfloor" placeholder="Ground Floor" class="form-control"   type="text" ng-model="regData.ground_floor" ground-floor="6"  ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  required>
                                 </div>
                                 <span style="color:red;" ng-show="form.groundfloor.$touched && form.groundfloor.$invalid" >enter the value</span>
                                 <div  style="color:red;" ng-show="regData.ground_floor.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Size</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="size" placeholder="Size" class="form-control"   type="text" ng-model="regData.size"  size="6" ng-pattern="/^\w+$/"  required>
                                 </div>
                                 <span style="color:red;" ng-show="form.size.$touched && form.size.$invalid" >enter the value</span>
                                 <div  style="color:red;" ng-show="regData.size.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6">
                              <label class="col-md-4 control-label">First Floor</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> 
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="firstfloor" placeholder="First Floor" class="form-control"   type="text" ng-model="regData.first_floor"  ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  required>
                                 </div>
                                 <span style="color:red;" ng-show="form.firstfloor.$touched && form.firstfloor.$invalid" >enter the value</span>
                                 <div  style="color:red;" ng-show="regData.first_floor.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Year of Construction</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input name="yearofconstruction" placeholder="Year of Construction" class="form-control"  type="text" year-of-construction="6" ng-model="regData.year_of_construction" required="">
                                 </div>
                                 <span style="color:red;" ng-show="form.yearofconstruction.$touched && form.yearofconstruction.$invalid" >enter the year of construction</span>
                                 <div  style="color:red;" ng-show="regData.year_of_construction.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Second Floor </label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="secondfloor" placeholder="Second FLoor" class="form-control"   type="text" ng-model="regData.second_floor" second-floor="6"  ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  required>
                                 </div>
                                 <span style="color:red;" ng-show="form.secondfloor.$touched && form.secondfloor.$invalid" >enter the value</span>
                                 <div  style="color:red;" ng-show="regData.second_floor.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Year of Completion</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input name="yearofcompletion" placeholder="Year of Completion" class="form-control"  type="text" year-of-completion="6" ng-model="regData.year_of_completion" required="">
                                 </div>
                                 <span style="color:red;" ng-show="form.yearofcompletion.$touched && form.yearofcompletion.$invalid" >enter the year of completion</span>
                                 <div  style="color:red;" ng-show="regData.year_of_completion.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                        </div>
                        <br>
                        <div class="row">
                           <div class="col-md-6" >
                              <label class="col-md-4 control-label">Third Floor</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                    <input  name="thirdfloor" placeholder="Third Floor" class="form-control"   type="text" ng-model="regData.third_floor" third-floor="6" ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  required>
                                 </div>
                                 <span style="color:red;" ng-show="form.thirdfloor.$touched && form.thirdfloor.$invalid" >enter the year of completion</span>
                                 <div  style="color:red;" ng-show="regData.third_floor.length == 6">*You have reached max input limit</div>
                              </div>
                           </div>
                           <div class="col-md-6" >
                              <label class="col-md-3 control-label">Upload Photograph</label>
                              <div class="col-md-7  inputGroupContainer">
                                 <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input  name="uploadphoto" placeholder="Upload Photohraph" class="form-control"   type="text" ng-model="regData.upload_photo" ng-minlength="2" ng-maxlength="50" ng-pattern="/^\w+$/"  required>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <br><br>
                     <div class="row">
                        <div class="col-md-6" >
                           <div class="col-md-6  inputGroupContainer"></div>
                           <div class="col-md-4  inputGroupContainer">
                              <button type="submit" class="btn btn-block btn-primary" ng-click="setbuilding(regData)">Save</button>
                           </div>
                        </div>
                        <div class="col-md-2  inputGroupContainer">
                           <button type="submit" class="btn btn-block btn-primary" ng-click="reset(form)">Reset</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
</section>
</div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>