<div class="container theme-showcase" role="main">
   <div ng-show="!main.isLoggedIn" class="jumbotron">
      <h1>ALL INDIA MOVEMENT FOR SEVA</h1>
   </div>
</div>
<div class="jumbotron " style="width: 70% ;height: auto;margin: 0 auto;border-style: solid;
   border-width: 2px 10px 4px 20px;" ng-controller="forgot as for">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <form novalidate="">
            <div class="form-group">
               <label class="user">Username</label>
               <div class="input-group">
                  <span class="input-group-addon">
                     <li class="glyphicon glyphicon-user"></li>
                  </span>
                  <input type="email" name="email_id" placeholder="Please enter email / Mobile no." class="form-control" ng-model="forgot.email_id">
               </div>
            </div>
            <button class="btn btn-primary" type="submit" ng-click="forgotPassword(forgot)">Search</button><span>
            <button class="btn btn-primary" type="submit">Cancel</button><span>
         </form>
         <br>
         <p>{{for.val}}</p>
         <br>
         <div class="jumbotron text-center" ng-show="for.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading...</p>
         </div>
         <br>
         <div class="row show-hide-message" ng-show="for.successMsg">
            <div class="alert alert-success">{{for.successMsg}}</div>
         </div>
         <br>
         <div class="row show-hide-message" ng-show="for.errorMsg">
            <div class="alert alert-danger">{{for.errorMsg}}</div>
         </div>
      </div>
   </div>
</div>
